<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css" />
  <title>{{ page.title }}</title>
</head>

<body>
  <canvas id="c" class="vizu"></canvas>
  <div id="container">
    <header>
      HEADER {{ page.date }}
      <nav>
        <div>TOC:</div>
        {% for gm in global %}
        <a href="{{ gm.path | safe }}">{{ gm.title }} - {{ gm.type }}</a>
        {% endfor %}
      </nav>
    </header>
    <article class="article">
      {{ page.content | safe }}
    </article>
    <footer>FOOTER</footer>
  </div>

  <script id="sierp-fs" type="glsl">
      precision mediump float;
      uniform vec2 resolution;varying float distCenter,tm;
      #define MAXDIST sqrt(0.5)
      vec3 v(vec3 v){vec4 r=vec4(1.,2./3.,1./3.,3.);vec3 f=abs(fract(v.rrr+r.rgb)*6.-r.aaa);return v.b*mix(r.rrr,clamp(f-r.rrr,0.,1.),v.g);}void main(){vec2 r=gl_FragCoord.rg/resolution;float f=distCenter/MAXDIST;gl_FragColor=vec4(vec3(1.)-v(vec3(f*sin(tm),.8,.9)),1.);}
    </script>
  <script id="sierp-vs" type="glsl">
      uniform mat4 u_perspective,u_view,u_world;uniform float time;attribute vec4 position;varying float distCenter,tm;void main(){gl_Position=u_perspective*u_view*u_world*vec4(position.rgb,1.);gl_PointSize=2.;tm=time;vec3 m=vec3(0.,.1333,.1333);distCenter=distance(m,position.rgb);}
    </script>
  <script src="./twgl-full.min.js"></script>
  <script src="./sierp.js"></script>
  <script src="./main.js"></script>
</body>

</html>
